{{ $.Scratch.Add "additional_head_tags" "<link href=\"/fonts/font-linux.css\" rel=\"stylesheet\">" }}

{{ partial "header.html" . }}

{{ .Scratch.Set "sidemenu" true }}

<div class="container">
	<div class="row">
		<div class="{{ if .Scratch.Get "sidemenu" }}col-lg-10 col-md-9 col-sm-8{{ else }}col-sm-12{{ end }}">
			{{ partial "breadcrumb.html" . }}

			{{ if .Params.single }}
			<div class="page-heading">
				<h1>{{ replace .Title "-" " " }}</h1>
			</div>
			{{ .Content }}
			{{ else }}
			<div class="page-heading">
				<h1>{{ title .Title }}</h1>
				<h4>{{ .Params.projectdeveloper }}</h4>
			</div>

			<div class="col-md-5">
				{{ $img := (.Resources.GetMatch "*.{jpg,png,gif}") }}
				{{ if $img }}
				<img class="ratio" src="{{ $img.Permalink }}">
				{{ end  }}
			</div>
			<div class="col-md-7">
				<p>{{ .Content }}</p>
				<a class="btn btn-primary" href="{{ .Params.projecturl }}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			{{ end }}
		</div>

	</div>
</div>

{{ partial "footer.html" . }}
